<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293466639498-v2gv2tt7a8kkmmfud0adnkh1rehcoqo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293466639498-v2gv2tt7a8kkmmfud0adnkh1rehcoqo3</string>
	<key>API_KEY</key>
	<string>AIzaSyBM1Vnw1TMvlbMtZUvdjE9swN4qbr6rfKU</string>
	<key>GCM_SENDER_ID</key>
	<string>293466639498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>messenger-app</string>
	<key>PROJECT_ID</key>
	<string>messenger-d92dc</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-d92dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293466639498:ios:5d758f141de01dc1bb3173</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-d92dc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>